{% extends "layout_right.html" %}
{% block title %}{{page_title}}{% endblock %}
{% block head %}
    {{ block.super }}

{% endblock %}
{% block content %}
    
    <div class="hero-unit">
              <h2><a href="/track/{{track.id}}">{{track.name}}</a></h2>
              <h4>Track length: {{track.length}} km</h4>
              <br>
              <h4>Additional information</h4>
              <p>{{ track.info }}</p>
    </div>
    <script type="text/javascript">
      $(document).ready(function(){
        prettyPrint();
      });
    </script>

{% endblock %}
